
* {
  color: #E6ECEF;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
}

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  /* background-color: #141414; */
  background-color: #05151E;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  border-radius: 4px;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-container p {
  font-size: 12px;
  opacity: 0.75;
}

.profile-container:hover p {
  opacity: 1;
}

.profile-container:hover .profile {
  border: 2px solid #e5e5e5;
}

.profile.plus {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-container:hover .profile.plus {
  background-color: #e5e5e5;
}

.profile-container:hover .profile.plus img {
  filter: invert();
}

.edit-profiles {
  margin-top: 3rem;
}
