

main {
    width: 100%;
}

.banner {
    background-image: url(../img/pexels-luis-quintero-2774556.jpg);
    background-size: cover;
    width : 100%;
    height: 48rem;
    box-shadow: 0px -22px 30px 12px rgba(5,21,30,1) inset;
-webkit-box-shadow: 0px -22px 30px 12px rgba(5,21,30,1) inset;
-moz-box-shadow: 0px -22px 30px 12px rgba(5,21,30,1) inset;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0px 7vw;
}

.startBannerAnimation {
    animation: fadingBanner 0.5s ease-in 0s 1 normal none;
}


@keyframes fadingBanner {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}


.bannerMovieDesc {
    color: white;
    font-size: 1.2rem;
}
.bannerMovieTitle {
    color: white;
    font-size: 4.5rem;
    font-family: 'Pathway Gothic One', sans-serif;
}
.movieCaroussel {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
}
.horizontalCard {
    width: 20rem;
    height: 13rem;
    border-radius: 25px;
    background-color: black;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: end;
    transition: ease-in-out 0.25s;  
    backdrop-filter: opacity(70%);
    user-select: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.horizontalCardTitle {
    color: white;
    padding: 1.5rem 1rem;
    font-size: 1.5rem;
    font-family: 'Pathway Gothic One', sans-serif;
}
.horizontalCard:hover {
    filter: grayscale(0);
    transform: scale(1.07);
    outline: white 3px solid;
}
.categoryMovies {
    display: flex;
    flex-direction: column;
    width: 100%;
    
    padding: 7vh 7vw;
}
.categoryTitleContainer {
    display: flex;
    align-items: center;
    padding: 0 0 2.5vh 0;
}
.categoryTitle {
    color: white;
}
.categoryTitleLogo {
    width: 2.2rem;
}

.verticalCardContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 0 auto;
    color: white;
}
.verticalCardRow {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.verticalCard {
    display: flex;
    flex-direction: column;
    row-gap: 0.2rem;
    color: white;
    height: 355.5px;
    width: 195px;
}

.verticalCardDate {
    font-size: 1rem;
}
.verticalCardTitle{
    white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.verticalCardImage {

    width: 12rem;
    height: 18rem;
    border-radius: 15px;
    margin: 0 0 1rem 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-size: cover;
    height: 100%;
  width: 100%;
}

.movie-details {
    display: flex;
    justify-content: center;
}
.downloadBtn {
    width: 10rem;
    height: 2rem;
    background-color: green;
    border-radius: 15px;
    color: white;
    border: none;
    outline: none;
    margin: 15rem;
}
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    height: 5%;
    position: sticky;
    background-color: #0a293c;
}
.previewBanner {
    height: 70vh;
    background-image: url(./img/pexels-luis-quintero-2774556.jpg);
    background-size: cover;
    width : 100%;
    box-shadow: 0px -22px 30px 12px rgba(5,21,30,1) inset;
-webkit-box-shadow: 0px -22px 30px 12px rgba(5,21,30,1) inset;
-moz-box-shadow: 0px -22px 30px 12px rgba(5,21,30,1) inset;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.bannerCategory {
    display: flex;
    gap: 15px;
    padding: 0 0 1rem 0;
}
.categoryName {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 5rem;
    width: 6rem;
    height: 2.5rem;
    border: white 1px solid;
    border-radius: 10px;
    color: white;
    background-color: #FFFFFF20;
    backdrop-filter: blur(2px);
}
.movieInformation {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    width: 90%;
    margin: 0 auto;
    padding: 0 0 2rem 0;
}
#playBtn {
    outline: none;
    border: none;
    background-color: #38A935;
    backdrop-filter: none;
    color: white;
}
.movieInfoCard {
    width: 15vw;
    height: 10vw;
    border-radius: 25px;
    background-color: #434D4F35;
    backdrop-filter: blur(2px);
}
.cardName {
    text-transform: uppercase;
    writing-mode: vertical-lr;
    text-orientation: sideways-right;
    color: #434D4F;
    font-weight: bold;
    font-size: 1.1rem;
    text-align: center;
    height: 100%;
    padding: 0 0 0 0.5rem;
}
.cardNameInfo {
    color: white;
}

.spinner-3 {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: 
      radial-gradient(farthest-side,rgb(11, 176, 235) 94%,#0000) top/8px 8px no-repeat,
      conic-gradient(#0000 30%,rgb(11, 176, 235));
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
    animation: s3 1s infinite linear;
  }
  
  @keyframes s3{ 
    100%{transform: rotate(1turn)}
  }
  .verticalCardRow{
    display: flex;
    justify-content: space-between;
  }
  